iiwa:
  controller_manager:
    ros__parameters:
      update_rate: 250  # Perfetto, 1000Hz è standard per sim

      iiwa_arm_controller:
        type: position_controllers/JointGroupPositionController

      iiwa_arm_trajectory_controller:
        type: joint_trajectory_controller/JointTrajectoryController

      joint_state_broadcaster:
        type: joint_state_broadcaster/JointStateBroadcaster

      velocity_controller:
        type: velocity_controllers/JointGroupVelocityController

      effort_controller:
        type: effort_controllers/JointGroupEffortController         

      impedance_controller:
        type: impedance_controller/ImpedanceController

      ets_state_broadcaster:
        type: external_torque_sensor_broadcaster/ExternalTorqueSensorBroadcaster

  # TUTTI i controller devono essere indentati sotto 'iiwa'
  iiwa_arm_controller:
    ros__parameters:
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity
      joints:
        - iiwa_joint_a1
        - iiwa_joint_a2
        - iiwa_joint_a3
        - iiwa_joint_a4
        - iiwa_joint_a5
        - iiwa_joint_a6
        - iiwa_joint_a7

      state_publish_rate: 50.0 
      action_monitor_rate: 20.0 

  velocity_controller:
    ros__parameters:
      joints:
        - iiwa_joint_a1
        - iiwa_joint_a2
        - iiwa_joint_a3
        - iiwa_joint_a4
        - iiwa_joint_a5
        - iiwa_joint_a6
        - iiwa_joint_a7   

  effort_controller:
    ros__parameters:
      joints:
        - iiwa_joint_a1
        - iiwa_joint_a2
        - iiwa_joint_a3
        - iiwa_joint_a4
        - iiwa_joint_a5
        - iiwa_joint_a6
        - iiwa_joint_a7        

  impedance_controller:
    ros__parameters:
      joints:
        - iiwa_joint_a1
        - iiwa_joint_a2
        - iiwa_joint_a3
        - iiwa_joint_a4
        - iiwa_joint_a5
        - iiwa_joint_a6
        - iiwa_joint_a7
      stiffness: [50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0]
      damping: [10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0]

  ets_state_broadcaster:
    ros__parameters:
      # ATTENZIONE: Se nell'URDF hai aggiunto ${prefix} al sensore, 
      # qui deve essere "iiwa_external_torque_sensor". 
      # Se non hai toccato il sensore nell'URDF, lascia così.
      sensor_name: iiwa_external_torque_sensor